@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: __Poppins_98ef6d, __Poppins_Fallback_98ef6d, "DM Sans", sans-serif, sans-serif;
}
.carousel-container {
    position: relative;
  }
  
  .carousel-slide {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
  }
  
  .slider-container {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px); /* Apply the blur effect */
    z-index: -1;
    inset: 0px 0px -1px;
  }
  
  